.noble{
    background-color:#7f3c98;
}
.halogen{
    background-color:#4774b9;
 }
.nonmetal{
    background-color:#53c6d6;
}
.semimetal{
    background-color:#37b87e;
}
.basicmetal{
    background-color:#93c94a;
}
.antanoids{
    background-color:#f063a6;
}
.lanthanoids{
    background-color:#f49ac2;
}
.alkalimetal{
    background: rgb(229,36,112);
    background: linear-gradient(141deg, rgba(229,36,112,1) 53%, rgba(237,125,111,1) 80%);
    }
.alkalineearth{
    background: rgb(254,192,25);
    background: linear-gradient(141deg, rgba(254,192,25,1) 53%, rgba(249,157,33,1) 80%);
    }
.transition{
    background: rgb(243,236,38);
    background: linear-gradient(141deg, rgba(243,236,38,1) 53%, rgba(252,194,102,1) 80%);;
}
td{
    padding:5px;
    text-align:center;
}
.atomicNumber{
    width:50px;
    text-align:left;
}
body{
    margin: 0px;
}